.singleCard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: 26%; */
  position: relative;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  /* background-color: rgb(54, 47, 7); */
  margin-bottom: 7rem;
  /* height: 700px; */
  background-color: #040d04;
  width: fit-content;
  padding: 0 1rem 11px 1rem;
  border-radius: 1rem;
  transition: all 0.3 ease-in-out;
}
.singleCard:hover {
  transform: scale(1.03);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.poster:hover {
  transform: scale(1.03);
}
.imgPortrait:hover {
  transform: scale(1.03);
  border-radius: 2rem;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 761px) {
  .trending {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24%;
  }
}
@media only screen and (max-width: 640px) {
  .trending {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21%;
  }
}
@media only screen and (max-width: 555px) {
  .trending {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
  }
}
.singleCard:hover {
  background-color: #2c280f;
  cursor: pointer;
}
.cardContent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}
.movieName {
  white-space: wrap !important;
  /* /* overflow: hidden; */
  /* text-overflow: clip;  */
  color: #ffff67;
  /* font-size: 22px; */
  font-family: sans-serif;
  text-transform: capitalize;
  /* width: 50%; */
}
.movies-title {
  /* text-align: center; */
  width: 90%;
}
.typeAndDate {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 7px;
  font-size: 20px;
  color: lightgoldenrodyellow;
}
.poster {
  border-radius: 1rem;

}
.imgPortrait{
  max-height: 550px !important;
}
/* .poster {
  width: 100%;
} */

/* trending page */
.trending {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 6rem;
  flex-wrap: wrap;
  z-index: -1;
  margin-bottom: 5rem;
}
.trending .pageTitle {
  font-size: 43px;
  top: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: #efef6f;
  font-weight: bold;
  font-family: sans-serif;
  z-index: 2000;
}
/* .typeAndDate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
@media (max-width: 600px) {
  .singleCard{
    margin-left: 7rem;
    transform: scale(1.5);
    margin-bottom: 23rem;
  }
}